.title{
    margin-bottom: 50px;
    background-color: black;
}

#card-1 {
    width: 100%;
    text-align: center;
}

#image-1 {
    width: 100%;
}

#page-header-2{
    padding: 5%;
    margin: 0;
}

#project-1-text {
    text-align: center;
    color: white;
    margin: 0;
}

